{% extends 'backend/layout.twig' %}

{% block title     'Editar entrada' %}

{% block container %}
<div id="core" class="container clearfix">
    <div id="primary-content" class="clearfix">
        <h2>Editar entrada</h2>

        <form class="form" action="{{ path('entry_edit', {'id': entry.id}) }}" method="post">
            {{ form_widget(form) }}
         
            <input type="submit" name="submit" value="Guardar" />
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    CKEDITOR.replace( 'form[content]' );
</script>
{% endblock %}